<div class="row">
<%= form_tag(courses_path, method: "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], class: 'col-md-4', placeholder: "Search Courses" %>
  <p class="col-md-1">by</p>
  <%= select_tag :query_param, options_for_select(
    ['Course Name (ex. Computer Science)', 
        'Course Listing (ex. CS 1050)', 
        'Subject (ex. CS, MTH, PHYS)'], selected: params[:query_param]), 
        class: 'col-md-4'  
  %>
  <%= hidden_field_tag :semester_id, @semester_id %>
</div>
<div class="row">
<%= submit_tag "Search", 
    class: 'col-md-2 btn btn-primary', 
    style: 'margin-right:16px',
    name: nil %>
<% end %>
<%= form_tag(courses_path, method: "get", id: "get-all-courses") do |f| %>
  <%= hidden_field_tag :semester_id, @semester_id %>
  <%= submit_tag "Show All", class: 'col-md-1 btn btn-primary', :name => :show_all %>
<% end %>
</div>
<hr style="margin:16px 0px 16px 0px">
