<div class="col-xs-12 col-md-10 col-md-offset-1">
  <h1>Course Catalog</h1>
  <hr>
  <%= render 'courses/form' %>
  <% @courses.each do |course| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2><%= course.name %></h2>
          <%= render 'course_instances/form', semester: @semester, course: course %>
        </div>
        <div class="panel-body">
          <div class="row">
            <h3><%= course.subject %>-<%= course.call_number %></h3>
          </div>
          <div class="row">
            <h3>Credit hours: <%= course.credit_hours %></h3>
          </div>
          <% prerequisites = PrerequisiteService.getPrerequisites( { course_id: course.id } ) %>
          <p><b>Prerequisites: </b>
          <% if prerequisites.any? %> 
              <% prerequisites.each do |prerequisite| %>
                 <%= prerequisite.name %>
                 <% unless prerequisite.equal? prerequisites.last %>
                     ,
                 <% end%>
              <% end %>
          <% else %>
              none
          <% end %>
          </p>
        </div>
      </div>
  <% end %>
</div>
