<div class="col-xs-12 col-md-10 col-md-offset-1">
  <h1>Course Catalog</h1>
  <hr>
  <%= render 'courses/form' %>
  <%= form_tag add_courses_to_semester_path(@semester), method: :post do %>
  <table class="table table-responsive">
    <thead>
        <tr>
          <th>Course Name</th>
          <th>Subject</th>
          <th>Number</th>
          <th>Credit Hours</th>
          <th>
            <button class="btn btn-sm btn-info">
              Add Selected
            </button>
          </th>
        </tr>
    </thead>
    <tbody>
    <% @courses.each do |course| %>
        <tr>
          <td><%= course.name %></td>
          <td><%= course.subject %></td>
          <td><%= course.call_number %></td>
          <td><%= course.credit_hours %></td>
          <td><%= check_box_tag 'course_ids[]', course.id %></td>
 	  <% prerequisites = PrerequisiteService.getPrerequisites( { course_id: course.id } ) %>
          <td><b>Prerequisites: </b>
          <% if prerequisites.any? %> 
              <% prerequisites.each do |prerequisite| %>
                 <%= prerequisite.name %>
                 <% unless prerequisite.equal? prerequisites.last %>
                     ,
                 <% end%>
              <% end %>
          <% else %>
              none
          <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <% end %>
</div>
