<div class="row">
  <div class="col-md-6 col-md-offset-3">

	<h3>
            <b> <%= @course.name %>   /    <%= @course.subject %>-<%= @course.call_number %> </b>
			</h3>
			
			<p>
				Credits: <%= @course.credit_hours %><br>
			</p>
			
			<p>
				Description: <%= @course.description %>
			</p>

  </div
</div>
