<h1 class="col-xs-12 col-md-10 col-md-offset-1">
    <span class="col-xs-6">All Course Plans</span>
    <span class="col-xs-6 text-right">
        <%= link_to 'New Course Plan', course_plans_new_path, class: 'btn btn-primary btn-lg' %>
    </span>
</h1>
            
<div class="col-xs-12 col-md-10 col-md-offset-1">
  <hr>
    <table class="table table-striped table-responsive col-xs-12">
        <thead>
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Last Updated</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @course_plans.each do |course_plan| %>
                <tr>
                    <th scope="row"><%= course_plan.id %></th>
                
                    <td>
                        <%= course_plan.plan_name %>
                    </td>
                
                    <td>
                      <%= course_plan.updated_at.in_time_zone("Mountain Time (US & Canada)").strftime('%A, %b %e, %Y') %></td>
                    <td class="text-right">
                      <%= link_to 'View', course_plan, class: 'btn btn-info' %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>