<div class="col-xs-12 col-md-10 col-md-offset-1">
  <h1>Course Plan</h1>
  <hr>
</div>
<div class="col-xs-12 col-md-10 col-md-offset-1">
  <% @course_plan.years.each do |year| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="container-fluid">

            <div class="col-xs-6">
              <h2>
                <%= year.year %>
              </h2>
            </div>
            <div class="col-xs-6 text-right">
              <h2>
                <strong>
                  <%= link_to 'x',
                              year,
                              method: :delete,
                              class: 'text-danger',
                              title: 'Remove this year from your course plan.' %>
                </strong>
              </h2>
            </div>

          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <% year.semesters.each do |semester| %>
                <div class="col-xs-12 col-md-4">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <div class="container-fluid">
                        <div class="col-xs-6">
                          <h4><%= semester.name %></h4>
                        </div>
                        <div class="col-xs-6 text-right">
                          <h4>
                            <strong>
                              <%= link_to 'x',
                                  semester,
                                  method: :delete,
                                  class: 'text-danger',
                                  title: 'Remove this semester from this year.' %>
                            </strong>
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="panel-body">
                      <% (semester.course_instances || []).each do |instance| %>
                          <% if instance.course %>
                          <div class="panel panel-info">
                            <div class="panel-heading">
                              <div class="container-fluid">
                                <%= instance.course.name %>
                              </div>
                            </div>
                          </div>
                          <% end %>
                      <% end %>
                      <%= render 'course_instances/form', semester: semester %>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
          <p class="text-muted"><%= semester_notice %></p>
          <%= render 'semesters/form', year: year %>
        </div>
      </div>
  <% end %>
</div>
<div class="col-xs-12 col-md-10 col-md-offset-1">
  <%= render 'years/form', course_plan: @course_plan %>
</div>
