

<div class="col-xs-12 col-md-10 col-md-offset-1">
  <h1>Course Plan</h1>
  <hr>
</div>
<div class="col-xs-12 col-md-10 col-md-offset-1">

  <% @course_plan.years.each do |year| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2><%= year.year %></h2>
        </div>
        <div class="panel-body">
          <div class="row">
            <% year.semesters.each do |semester| %>
                <div class="col-xs-12 col-md-4">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4><%= semester.name %></h4>
                    </div>
                    <div class="panel-body">
                      <% (semester.course_instances || []).each do |instance| %>
                          <div class="panel panel-info">
                            <div class="panel-heading">
                              <% if instance.course %>
                                <%= instance.course.name %>
                              <% end%>
                            </div>
                          </div>
                      <% end %>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
          <%= render 'semesters/form', year: year %>
        </div>
      </div>
  <% end %>
</div>
<div class="col-xs-12 col-md-10 col-md-offset-1">
  <%= render 'years/form' %>
</div>
