<div class="col-xs-12 col-md-10 col-md-offset-1">
  <h1>Course Plan: "<%= @course_plan.plan_name %>"</h1>
  <p><%= link_to 'Go back to home page', course_plans_path %> |
      <%= link_to 'Edit Course Plan Name', edit_course_plan_path(@course_plan) %></p>
  <hr>
</div>
<div class="col-xs-12 col-md-10 col-md-offset-1">
  <% @course_plan.years.each do |year| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="container-fluid">

            <div class="col-xs-6">
              <h2>
                <%= year.year %>
              </h2>
            </div>
            <div class="col-xs-6 text-right">
                <ul class="list-inline">
                  <li><h3>
                      <%= link_to 'edit', edit_year_path(year) %>
                  </h3></li>
                  <li><h2>
                    <strong>
                      <%= link_to 'x',
                                  year,
                                  method: :delete,
                                  class: 'text-danger',
                                  title: 'Remove this year from your course plan.' %>
                    </strong>
                  </h2></li>
                </ul>
            </div>

          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <% year.semesters.each do |semester| %>
                <div class="col-xs-12 col-md-4">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <div class="container-fluid">
                        <div class="col-xs-6">
                          <h4><%= SemesterDefinition.find(semester.semester_definitions_id).name %></h4>
                        </div>
                        <div class="col-xs-6 text-right">
                            <ul class="list-inline">
                                <li><h5>
                                    <%= link_to 'edit', edit_semester_path(semester) %>
                                </h5></li>
                                <li><h4>
                                <strong>
                                  <%= link_to 'x',
                                      semester,
                                      method: :delete,
                                      class: 'text-danger',
                                      title: 'Remove this semester from this year.' %>
                                </strong>
                              </h4></li>
                            </ul>
                        </div>
                      </div>
                    </div>
                    <div class="panel-body">
                      <% (semester.course_instances || []).each do |instance| %>
                          <% if instance.course %>
                          <div class="panel panel-info">
                            <div class="panel-heading">
                              <div class="container-fluid">
                                <span class="col-xs-10">
                                  <%= instance.course.name %>
                                </span>
                                <strong class="col-xs-2 text-right">
                                  <%= link_to 'x',
                                              instance,
                                              method: :delete,
                                              class: 'text-danger',
                                              title: 'Remove this course from this semester.' %>
                                </strong>
                              </div>
                            </div>
                          </div>
                          <% end %>
                      <% end %>
                      <p class="text-muted"><%= course_instance_notice %></p>
                      <%= link_to 'Add a Course', 
                                    {:controller => "courses", 
                                        :action => "index", 
                                        :semester_id => semester.id,
                                        :course_plan_id => @course_plan.id },
                                        title: 'Search for a course and add it to this semester',
                                        class: 'btn btn-primary' %>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
          <p class="text-muted"><%= semester_notice %></p>
          <%= render 'semesters/form', year: year %>
        </div>
      </div>
  <% end %>
</div>
<div class="col-xs-12 col-md-10 col-md-offset-1">
  <%= render 'years/form', course_plan: @course_plan %>
</div>
