<div class="col-xs-12 col-md-10 col-md-offset-1">
  <h1>Course Plan: "<%= @course_plan.plan_name %>"</h1>

  <p><%= link_to 'Go back to home page', course_plans_path %> |
    <%= link_to 'Edit course plan name', edit_course_plan_path(@course_plan) %></p>
  <hr>
</div>
<div class="col-xs-12 col-md-10 col-md-offset-1">
  <% @course_plan.years.each do |year| %>
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="container-fluid">

            <div class="col-xs-6">
              <h2>
                <%= year.year %>
              </h2>
            </div>
            <div class="col-xs-6 text-right">
              <h2 class="year-controls">
                <%= link_to edit_year_path(year), title: 'Edit this year.' do %>
                    <i class="fa fa-pencil"></i>
                <% end %>
                &nbsp;
                <%= link_to year,
                            method: :delete,
                            class: 'text-danger',
                            title: 'Remove this year from your course plan.' do %>
                    <i class="fa fa-trash"></i>
                <% end %>
              </h2>
            </div>

          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <% year.semesters.each do |semester| %>
                <div class="col-xs-12 col-md-4">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-xs-6">
                            <h4><%= SemesterDefinition.find(semester.semester_definitions_id).name %></h4>
                          </div>
                          <div class="col-xs-6 text-right">
                            <h4 class="semester-controls">
                              <%= link_to edit_semester_path(semester),
                                          title: 'Edit this semester.' do %>
                                  <i class="fa fa-pencil"></i>
                              <% end %>
                              &nbsp;
                              <%= link_to semester,
                                          method: :delete,
                                          class: 'text-danger',
                                          title: 'Remove this semester from this year.' do %>
                                  <i class="fa fa-trash"></i>
                              <% end %>

                            </h4>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel-body">
                      <% (semester.course_instances || []).each do |instance| %>
                          <% if instance.course %>
                              <div class="panel panel-info">
                                <div class="panel-heading">
                                  <div class="container-fluid">
                                    <div class="row">
                                    <span class="col-xs-10">
                                      <%= instance.course.name %><br>
                                      <small class="text-muted">
                                        <%= sprintf("%g", instance.course.credit_hours) %> credit hours
                                      </small>
                                    </span>
                                      <strong class="col-xs-2 text-right">
                                        <%= link_to instance,
                                                    method: :delete,
                                                    class: 'text-danger',
                                                    title: 'Remove this course from this semester.' do %>
                                            <i class="fa fa-trash"></i>
                                        <% end %>
                                      </strong>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          <% end %>
                      <% end %>
                      <p class="text-muted"><%= course_instance_notice %></p>
                    </div>
                    <div class="panel-footer">
                      <%= link_to 'Add Course(s)',
                                    {:controller => "courses", 
                                        :action => "index", 
                                        :semester_id => semester.id,
                                        :course_plan_id => @course_plan.id },
                                        title: 'Search for a course and add it to this semester',
                                        class: 'btn btn-default add-course-link' %>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
          <p class="text-muted"><%= semester_notice %></p>
        </div>
        <div class="panel-footer">
          <%= render 'semesters/form', year: year %>
        </div>
      </div>
  <% end %>
</div>
<div class="col-xs-12 col-md-10 col-md-offset-1">
  <%= render 'years/form', course_plan: @course_plan %>
</div>
